<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="house"></div>

    <!-- sensors -->
    <p><output id="timeDisplay"></output></p>
    <input class="sensor" type="range"  id="time" value="0" min="0" max="1440" step="15"/>
    <div class="sensor" id="light">light</div>
    <div class="sensor" id="temperature">temperature</div>

    <!-- device divs -->
    <div class="device" id="lamp">lamp</div>

    <script>
      // clock:
      const clockDisplay = document.querySelector("#timeDisplay");
      const slider = document.querySelector("#time");

      function updateTimeDisplay() {
        const totalMinutes = Number(slider.value);
        const hours = Math.floor(totalMinutes / 60);
        const minutes = totalMinutes % 60;

        clockDisplay.textContent =
        `${hours.toString().padStart(2, "0")}:${minutes.toString().padStart(2, "0")}`;
      }

      // update when slider moves
      slider.addEventListener("input", updateTimeDisplay);

      // initial display
      updateTimeDisplay();


      function getSensorState() {
        const simStateElements = document.querySelectorAll(".sensor")

        const sensorState = {}

        simStateElements.forEach(el => {
          sensorState[el.id] = el.innerText
        })

        return sensorState
      }

      // sends simulation state to /state router and recieves device state
      async function fetchState(sensorState) {
        const response = await fetch("/DSL", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ sensorState })
        });

        const newDeviceState = await response.json();

        // might need to convert the response to an object here

        return newDeviceState
      }

      // updates device divs using a deviceState object
      function updateDevices(deviceState) {
        // add individual device behaviour

        for (const key in deviceState) {
          const el = document.getElementById(key)
          if (el) el.innerText = deviceState[key]
        }
      }

      async function loop() {
        const sensorState = getSensorState();
        const newDeviceState = await fetchState(sensorState);
        updateDevices(newDeviceState);

        setTimeout(loop, 1000);
      }

      // loop();

    </script>
  </body>
</html>
