<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- simulation divs -->
    <div class="sensor" id="time">time</div>
    <div class="sensor" id="light">light</div>
    <div class="sensor" id="temperature">temperature</div>

    <!-- device divs -->
    <div class="device" id="lamp">lamp status</div>

    <script>

      function getSensorState() {
        const simStateElements = document.querySelectorAll(".sensor")

        const sensorState = {}

        simStateElements.forEach(el => {
          sensorState[el.id] = el.innerText
        })

        return sensorState
      }

      // sends simulation state to /state router and recieves device state
      async function fetchState(sensorState) {
        const response = await fetch("/DSL", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ sensorState })
        });

        const newDeviceState = await response.json();

        // might need to convert the response to an object here

        return newDeviceState
      }

      // updates device divs using a deviceState object
      function updateDevices(deviceState) {
        // add individual device behaviour

        for (const key in deviceState) {
          const el = document.getElementById(key)
          if (el) el.innerText = deviceState[key]
        }
      }

      async function loop() {
        const sensorState = getSensorState();
        const newDeviceState = await fetchState(sensorState);
        updateDevices(newDeviceState);

        setTimeout(loop, 1000);
      }

      loop();

    </script>
  </body>
</html>
